Repository ryujinx-mirror/ryujinx, pull requests merged in 2024-10, with the labels that each got.

#20 gui: Disable usage of updater module for the time being
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: gui

#28 infra: Add AppImage build workflow
  .github/workflows/build.yml
  .gitignore
  distribution/linux/appimage/AppRun
  distribution/linux/appimage/build-appimage.sh
Labels: infra

#30 infra: Fix AppImage Actions build job
  distribution/linux/appimage/build-appimage.sh
Labels: infra

#34 infra: don't repackage appimages and fix zsync files
  .github/workflows/build.yml
  .github/workflows/release.yml
  distribution/linux/appimage/build-appimage.sh
Labels: infra

#31 Fix some input controller issues (mapping sticks and duplicate controller names)
  src/Ryujinx.Input.SDL2/SDL2Gamepad.cs
  src/Ryujinx/UI/ViewModels/Input/InputViewModel.cs
Labels: gui

#52 Fix divide by zero when recovering from missed draw (Vulkan)
  src/Ryujinx.Graphics.Vulkan/VertexBufferState.cs
Labels: gpu, graphics-backend:vulkan

#59 Added a command line option (-c, --config) to load a configuration file through the command line parameters
  src/Ryujinx.Gtk3/Program.cs
  src/Ryujinx.UI.Common/Helper/CommandLineState.cs
  src/Ryujinx/Program.cs
Labels: gui
